* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: goldenrod;
  font-family: Sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 30px;
}

h3 {
  margin: 10px 0;
}

p {
  font-size: 14px;
  line-height: 21px;
}

.container {
  background-color: darkorange;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #1d338a;
  padding-top: 30px;
  position: relative;
  width: 300px;
  height: 30vh;
  max-width: 100%;
  text-align: center;
}

.card img {
  border: 1px solid #03bfcb;
  border-radius: 70%;
  padding: 1px;
  width: 100px;
}

.btns button {
  background-color: rebeccapurple;
  color: darkorange;
  border-radius: 5px;
  font-size: 15px;
  padding: 0.5em;
  margin-right: 5px;
}

.styling {
  font-family: Sans-serif;
  padding: 10px;
}

/* footer {
  align-items: center;
  padding: 15px;
  color: purple;
  font-size: 1.5em;
  position: relative;
} */

.tech {
  color: greenyellow;
  font-weight: bold;
}

.heart {
  color: red;
  font-size: 30px;
}

.fas {
  font-size: 50px;
}
